.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
LJW.iml
app.iml
.idea/misc.xml
.idea
apks
library/library.iml
library\service\lock\lock.iml
.idea\modules.xml
library\service\service.iml
library\function\function.iml
library\function\entity\entity.iml